
.content{
	width: 90%;
	margin-left: auto;
    margin-right: auto;
}

.content h1{
	text-align: center;
	}
.content h2{
	text-align: center;
	}
.content h3{
	text-align: center;
	}

.content h5{
	padding-top: 10px;
	}

date{
	float: right;
	color: grey;
	font-size: .9rem;
}

footer{
	text-align: center;
}


.toc{
	/*background:#E0FFD0;*/
	font-size:90%; 
	padding:.5em; 
	padding-bottom:1em;
}

.codebox {
    /* Below are styles for the codebox (not the code itself) */
    border:1px solid black;
    background-color: black;
    width:auto;
    overflow:auto;    
    padding:10px;
}
.codebox code {
    /* Styles in here affect the text of the codebox */
    color:#2FFF12;
    font-size:0.9em;
    /* You could also put all sorts of styling here, like different font, color, underline, etc. for the code. */
}

code {
    /* Styles in here affect the text of the codebox */
    background-color: black;
    color:#2FFF12;
    font-size:0.9em;
    /* You could also put all sorts of styling here, like different font, color, underline, etc. for the code. */
}